.headers {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: rgb(22, 22, 22);
  color: white;

  height: 5rem;
  max-height: 10rem;


  &__logo {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

    &-appname {
      margin-left: 0.5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1.5rem;

    &-btn {
      transition: all 0.15s ease;
      text-decoration: none;
      font-size: 1.8rem;
      padding: 1rem 2rem;
      margin-left: 1rem;
      border: none;
      color: white;
      background-color: #2a2a2a;
      border-radius: 5px;

      &:hover {
        background-color: #444444;
      }
    }
  }

  .active {
    background-color: #00b2ff;
  }

  .active:hover {
    background-color: #42c6ff;
  }
}

@media (max-width: 500px) {
  .headers {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100%;
  }

  .headers__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0;
    margin: 0;
  }

  .headers .headers__buttons .headers__buttons-btn {
    transition: all 0.15s ease;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    color: white;
  }

}
