.home {
  width: 100%;
  color: white;
  display: flex;

  flex-direction: column;
  align-items: center;

  &__today {
    margin: 1rem 0;
    font-family: Fredoka One;
    font-size: 2.5rem;
  }

  &__cards {
    width: 100%;
    display: flex;
    // background-color: yellowgreen;
    margin-top: 10rem;
    justify-content: center;

    flex-wrap: wrap;
    align-content: space-around;

    & > * {
      margin-top: 10rem;
      margin-bottom: 10rem;
      margin-left: 5rem;
    }

    &-addcity {
      display: flex;
    }
  }
}

@media (max-width: 500px) {
  .home .home__cards > * {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 0;
  }
}
