.App {
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  background: linear-gradient(180deg, #00c2ff 2.6%, #011099 100%);

  &__spinner {
    width: 100%;
    min-height: 70vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
  }
}
